<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="aboutLaxStyle.css" /> -->
    <link rel="stylesheet" href="t1.css" />

  </head>
  <body class="laxBallBackground">
    <h1>hello world - testing templates for {{ name }}</h1>
    <h2> {{ name }} </h2>
    <h2> {{ bodys1 }} </h2>
    <h2> {{ bodys1 }} </h2>
    <h2> {{ allPosts }} </h2>

    <a href="/stream">stream link</a>

    {% for pst in allPosts %}
      <li>{{ pst }}</li>
      <li>{{ pst.body }}</li>
      <li>{{ pst.id }}</li>
      <li>
        <a href="/thread/{{ pst.id }}">test link</a>
      </li>
      <h4> here </h4>
    {% endfor %}
    <a href="/thread/1">text</a>

  </body>

</html>
