<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="aboutLaxStyle.css" /> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/t1.css' %}">

  </head>
  <!-- Make the background a very light gray.  -->
  <body bgcolor="#111144">

    <!-- With Bootstrap 4, everything should be in a container. -->
    <div class="container">
      <h1>Hewdit is better than Reddit!</h1>

      <!-- Again, use POST method, and include a csrf_token -->
      <form style="padding-bottom:1em;" method="POST">
        {% csrf_token %}

        <!-- Give the user a place to type in their name and passowrd. -->
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text" class="form-control" name="inputUsername" id="inputUsername" />
        </div>

        <!-- Notice that we use password as the <input> type so that it blocks
          out the characters as you type; otherwise, it is just a text box. -->
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" name="inputPassword" id="inputPassword" />
        </div>

        <!-- Bootstrap likes <button> elements with type="submit" instead
          <input> elements with type="submit" -->
        <button type="submit" class="btn btn-danger">Login</button>
      </form>

        <!-- End login/logout section. -->
    </div>
  </body>

</html>
