<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/t1.css' %}">

    <!-- load the timezone stuff to get the right time -->
    {% load tz %}

  </head>
  <body>
    <h1>{{ name }}</h1>

    <!-- setup navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top" >
      <!-- NavBar Brand -->
      <a class="navbar-brand" href="#Title">
        <strong>Hewdit</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible1Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsible1Navbar">
        <ul class="navbar-nav">

          <!-- Link 1-->
          <li class="nav-item dropdown">
            <a href="/stream" class="btn btn-primary">Back to Stream</a>
          </li>

          <!-- Link 2-->
          <li class="nav-item dropdown">
          <a>
            <form action="/posts/" method="post">
              {% csrf_token %}
              <button class="btn btn-primary">Log out</button>
            </form>
          </a>
          </li>

        </ul>
      </div>

    </nav>

    <!-- display the user's bio and name etc -->
    <div class="card">
      <div class="card-body bg-dark">

        <h5 class="card-title text-primary"> {{profile.user}} </h5>
        <h5 class="card-title text-secondary">{{ profile.bio }}</h5>

        <!--  if statement to determine is the user is vieing their profile and
              can edit our account -->
        {% if showEditButton %}
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Update bio
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card">
              <div class="card-header">
                Edit Bio
              </div>
              <div class="card-body">
                <h5 class="card-title">What's your theme today?</h5>
                <form method="post">
                  {% csrf_token %}

                  <label for="bio">Bio:</label><br>
                  <input type="text" id="bio" name="bio"><br></br>

                <br></br><input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        {% endif %}

      </div>
    </div>

    <div class="card">
      <div class="card-body bg-secondary">
        <h2>Posts by {{ profile.user}}:</h2>
      </div>
    </div>

    <!-- loop through and display all the top level posts that correspond to this profile -->
    {% for pst in allPosts %}
      <div class="card">
        <div class="card-body bg-dark">
          <h5 class="card-title text-primary">{{ pst.title }}</h5>
          <h6 class="card-title">
            <a href="/profile/{{ pst.userPosted.id }}" class="btn btn-primary">{{ pst.userPosted }}</a>
          </h6>
          <p class="card-text text-light">Date Posted: {{ pst.date|timezone:"America/Los_Angeles" }}</p>
          <p class="card-text text-light">{{ pst.body }}</p>
          <a href="/thread/{{ pst.id }}" class="btn btn-primary">Go to post</a>
        </div>
      </div>
    {% endfor %}

  </body>

</html>
