<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="aboutLaxStyle.css" /> -->
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'posts/t1.css' %}">

    {% load tz %}

  </head>
  <body>
    <h1>{{ name }}</h1>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top" >
      <!-- NavBar Brand -->
      <a class="navbar-brand" href="#Title">
        <strong>Hewdit</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible1Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsible1Navbar">
        <ul class="navbar-nav">
          <!-- Link 1-->
          <li class="nav-item dropdown">
            <a class="nav-link" href="/profile/{{ currentUser.id }}" id="navbardrop">
              Profile
            </a>
          </li>

          <!-- Link 2-->
          <li class="nav-item dropdown">
          <a>
            <form action="/posts/" method="post"> <!-- action = same page method = Get for now -->
              {% csrf_token %}
              <button class="btn btn-primary">Log out</button><!-- this must post to the index url -->
            </form>
          </a>
          </li>

        </ul>
      </div>

    </nav>


      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Make a new Post
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card">
        <div class="card-header">
          Make a new post
        </div>
        <div class="card-body">
          <h5 class="card-title">What are you thinking today?</h5>
          <form method="post"> <!-- action = same page method = Get for now -->
            {% csrf_token %}
            <label for="postTitle">Post Title:</label><br>
            <input type="text" id="postTitle" name="postTitle"><br>
            <label for="text">text:</label><br>
            <input type="text" id="text" name="text"><br></br>

          <br></br><input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>


    {% for pst in allPosts %}

      <div class="card">
        <div class="card-body bg-dark">
          <h5 class="card-title text-primary">{{ pst.title }}</h5>
          <h6 class="card-title">
            <a href="/profile/{{ pst.userPosted.id }}" class="btn btn-primary">{{ pst.userPosted }}</a>
          </h6>
          <p class="card-text text-light">{{ pst.body }}</p>
          <p class="card-text text-muted">{{ pst.date|timezone:"America/Los_Angeles" }}</p> <!-- best way to do time -->
          <a href="/thread/{{ pst.id }}" class="btn btn-primary">Go to post</a>
        </div>
      </div>

    {% endfor %}

    <script async src="https://cse.google.com/cse.js?cx=0e95cf4a4fd4724a3"></script>
    <div class="gcse-search"></div>

  </body>

</html>
