<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="aboutLaxStyle.css" /> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/t1.css' %}">

  </head>
  <body class="laxBallBackground">
    <h1>{{ name }}</h1>

    <script async src="https://cse.google.com/cse.js?cx=0e95cf4a4fd4724a3"></script>
    <div class="gcse-search"></div>

    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Make a new Post
      </button>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card">
        <div class="card-header">
          Make a new post
        </div>
        <div class="card-body">
          <h5 class="card-title">What are you thinking today?</h5>
          <form method="post"> <!-- action = same page method = Get for now -->
            {% csrf_token %}
            <label for="postTitle">Post Title:</label><br>
            <input type="text" id="postTitle" name="postTitle"><br>
            <label for="text">text:</label><br>
            <input type="text" id="text" name="text"><br></br>

            <label for="img">Select image:</label><br>
            <input type="file" id="img" name="img" accept="image/*"><br></br>

            <label for="text">Datetime posted:</label><br>   <!-- what is the correct entry for the for field-->
            <input type="datetime-local" id="date" name="date">
          <br></br><input type="submit" value="Submit">
          </form>
        </div>
      </div>
    </div>


    <br><form action="/posts/" method="post"> <!-- action = same page method = Get for now -->
      {% csrf_token %}
      <button class="btn btn-primary">Log out</button><!-- this must post to the index url -->
    </form>



    {% for pst in allPosts %}
      <div class="card">
        <div class="card-body bg-dark">
          <h5 class="card-title text-primary">{{ pst.title }}</h5>
          <h6 class="card-title">
            <a href="/profile/{{ pst.userPosted.id }}" class="btn btn-primary">{{ pst.userPosted }}</a>
          </h6>
          <p class="card-text text-light">Date Posted: {{ pst.date }}</p>


          <p class="card-text text-light">{{ pst.body }}</p>
          <a href="/thread/{{ pst.id }}" class="btn btn-primary">Go to post</a>
        </div>
      </div>
    {% endfor %}


  </body>

</html>
