<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="aboutLaxStyle.css" /> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/t1.css' %}">

  </head>
  <body class="laxBallBackground">
    <h1>{{ name }}</h1>

    <button type="button" class="btn btn-dark">
      <a href="/">Index Link</a>
    </button>

    <form method="post"> <!-- action = same page method = Get for now -->
      {% csrf_token %}
      <label for="postTitle">Post Title:</label><br>
      <input type="text" id="postTitle" name="postTitle"><br>
      <label for="text">text:</label><br>
      <input type="text" id="text" name="text">
      <input type="submit" value="Submit">
    </form>


    {% for pst in allPosts %}
      <div class="card">
        <div class="card-body bg-dark">
          <h5 class="card-title text-primary">{{ pst.title }}</h5>
          <h6 class="card-title">
            <a href="/profile/{{ pst.userPosted.id }}" class="btn btn-primary">{{ pst.userPosted }}</a>
          </h6>
          <p class="card-text">{{ pst.body }}</p>
          <a href="/thread/{{ pst.id }}" class="btn btn-primary">Go to post</a>
        </div>
      </div>
    {% endfor %}


  </body>

</html>
