<html lang="en-US">
  <head>

    <title>{{ name }}</title>

    <meta http-equiv="refresh" content="300" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- load the style sheet -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'posts/t1.css' %}">

    <!-- load the time library needed to get correct time -->
    {% load tz %}

  </head>
  <body>
    <h1>{{ name }}</h1>

    <!-- setup the navbar -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top" >
      <!-- NavBar Brand -->
      <a class="navbar-brand" href="#Title">
        <strong>Hewdit</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible1Navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="collapsible1Navbar">
        <ul class="navbar-nav">

          <!-- Link 1-->
          <li style="margin-top: 8px;" class="nav-item dropdown">
            <a href="/stream" class="btn btn-secondary">Back to Stream </a>
          </li>

          <!-- Link 2-->
          <li class="nav-item dropdown">
            <a class="nav-link" href="/profile/{{ currentUser.id }}" id="navbardrop">
              <button class="btn btn-secondary">Profile </button>
            </a>
          </li>

          <!-- Link 3-->
          <li class="nav-item dropdown">
          <a>
            <form style="margin-top: 8px;" action="/posts/" method="post"> <!-- Worked on this with dad - I think boostrap has a bug here with its margins after some research
                                                                                hard to hard code the margins so it looks nice on most buttons in the navbar -->
              {% csrf_token %}
              <button class="btn btn-secondary">Log out</button><!-- this posts to the index url (this is how all my log out buttons work)-->
            </form>
          </a>
          </li>

        </ul>
      </div>
    </nav>

    <!-- main post -->
    <div class="card">
      <div class="card-body bg-dark">
        <h5 class="card-title text-primary">{{ pst.title }}</h5>
        <h6 class="card-title text-light">
          <a href="/profile/{{ pst.userPosted.id }}" class="btn btn-primary">{{ pst.userPosted }}</a>
        </h6>
        <p class="card-text text-light">{{ pst.body }}</p>
        <p class="card-text text-muted">{{ pst.date|timezone:"America/Los_Angeles" }}</p> <!-- best way to do time -->

        <!-- make button and post call for making new post -->
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Make a Comment
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card">
            <div class="card-header">
              Make a new Comment
            </div>
            <div class="card-body">
              <h5 class="card-title">How do you feel about this Post?</h5>
              <!-- use form to grab data -->
              <form method="post">
                {% csrf_token %}
                <label for="text">text:</label><br>
                <input type="text" id="text" name="text"><br>
              <br></br><input type="submit" value="Submit">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  go through master list of comments and display them based on the comment level
          or 'threadedness' -->
    {% for comment in commentLst %}
      <div class="card">
        <div class="card-body bg-secondary" style="padding-left:{{ comment.lvl }}em;"> <!-- use comment level to determine padding -->
          <h6 class="card-title text-dark">
            {{ comment.comment.userPosted }} <!-- get the user that posted the comment - second 'comment' is the dictionary key -->
          </h6>
          <p class="card-text text-light">{{ comment.comment.body }}</p> <!-- get the comment's body - second 'comment' is the dictionary key -->

          <!-- button and form for the user to make a comment on a comment -->
          <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#h{{ comment.comment.id }}">
              Make a Comment
            </button>
          </p>
          <div class="collapse" id="h{{ comment.comment.id }}"> <!-- make special id using the comment's id so that only this paticular collapse is triggered-->
            <div class="card">
              <div class="card-header">
                Make a new Comment
              </div>
              <div class="card-body">
                <h5 class="card-title">How do you feel about this Post?</h5>
                <form method="post">
                  {% csrf_token %}
                  <label for="text">text:</label><br>
                  <input type="text" id="text" name="text"><br>
                  <input type='hidden' id='pId' name='pId' value='{{ comment.comment.id }}'> <!-- this is hidden because this is determined by which comment the user chose to comment on -->
                <br></br><input type="submit" value="Submit">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

  </body>
</html>
